@media only screen and (max-width: 650px) {
  .projects-table-head {
    display: none;
  }

  .projects-table-data {
    display: flex !important;
  }

  .app-description,
  .app-demo {
    max-width: calc(100vw - 25px) !important;
    max-height: unset !important;
    height: unset !important;
  }

  .app-demo {
    width: 100%;
  }
}

footer {
  width: 100%;
  margin-top: auto;
  background-color: #555;
  display: flex;
  justify-content: space-evenly;
}

footer div {
  align-self: center;
  color: #fff;
}

footer ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0px;
}

footer ul li {
  margin: 10px;
}

footer img {
  width: 30px;
}

html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#wrapper {
  display: flex;
  flex-direction: column;
}

.content {
  margin: 10px;
  flex: 1;
}

.app-description,
.app-demo {
  height: calc(100vh - 283px);
  overflow: auto;
}

.app-demo {
  max-width: calc(75vw - 35px);
}

.app-description {
  max-width: calc(25vw - 35px);
}

#resume-root {
  width: -webkit-fill-available;
  margin: 10px;
}
