h3 {
  margin: 0px;
}

nav ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #555;
}

nav li {
  float: left;
  border-right: 1px solid #bbb;
}

nav li:nth-child(2) {
  border-right: none;
}

nav li:not(:first-child) a {
  padding: 16px;
}

nav li:not(:first-child) {
  float: right;
}

nav li:first-child a {
  line-height: 23px;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover:not(.active) {
  background-color: #444;
}

nav .active {
  background-color: #4f86f7;
}

#nav-fav {
  display: none;
}

#nav-header {
  display: block;
}

@media only screen and (max-width: 1200px) {
  #whats-new-wrapper,
  #projects-link-wrapper,
  #left-content-wrapper {
    width: unset !important;
  }

  #top-left-wrapper {
    flex-direction: column;
  }
}

@media only screen and (max-width: 850px) {
  #twitter-feed-wrapper {
    width: unset !important;
  }

  #page-content {
    flex-direction: column;
    max-height: unset !important;
  }
}

@media only screen and (max-width: 600px) {
  #nav-fav {
    display: block;
  }

  #nav-header,
  #copyright,
  .projects-table-head {
    display: none;
  }

  nav li:first-child a {
    padding: 4.5px 16px;
  }

  .contact-fields,
  .contact-form {
    flex-direction: column;
  }

  #contact-form {
    padding: 20px !important;
  }

  #twitter-feed-wrapper div:first-child {
    max-height: unset !important;
  }

  .contact-child {
    margin: 0px !important;
  }

  #whats-new,
  #projects-link-btn {
    margin: 0px !important;
  }

  .projects-table-data {
    display: flex !important;
  }

  .app-description,
  .app-demo {
    max-width: calc(100vw - 25px) !important;
    max-height: unset !important;
    height: unset !important;
  }

  .app-demo {
    width: 100%;
  }
}

footer {
  width: 100%;
  margin-top: auto;
  background-color: #555;
  display: flex;
  justify-content: space-evenly;
}

footer div {
  align-self: center;
  color: #fff;
}

footer ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0px;
}

footer ul li {
  margin: 10px;
}

footer img {
  width: 30px;
}

html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#wrapper {
  display: flex;
  flex-direction: column;
}

.content {
  margin: 10px;
  flex: 1;
}

#contact-form label {
  text-align: left;
}

#contact-form textarea {
  display: flex;
  flex: 1;
}

.contact-field {
  display: flex;
  flex-direction: column;
}

.contact-fields {
  display: flex;
  flex: 1;
  max-height: 150px;
}

.contact-child {
  display: flex;
  flex-direction: column;
  flex: 1 1 0px;
  justify-content: space-around;
}

.contact-child:last-child {
  margin-left: 25px;
}

.contact-child:first-child {
  margin-right: 25px;
}

div h4 {
  margin-top: 0px;
}

.app-description,
.app-demo {
  height: calc(100vh - 270px);
  overflow: auto;
}

.app-demo {
  max-width: calc(75vw - 35px);
}

.app-description {
  max-width: calc(25vw - 35px);
}

#toggle-theme-root button {
  margin: 5px;
}

#resume-root {
  width: -webkit-fill-available;
  margin: 10px;
}

#send-email:hover {
  cursor: pointer;
}
